@media screen and (max-width: 575px) {
    .absolutePF{
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40% !important
    }
    .banner{
        min-height: 150px !important;
        max-height: 150px !important;
    }

    .userName {
        justify-content: center !important;
        margin-left: 0 !important;
    }

    .flexDivUsername{
        margin-left: 0 !important;
    }

    .countryDiv{
        display: flex;
        justify-content: center;
    }
    .country{
        margin-left: 0 !important;
    }

    /*.flexDivUsername{*/
        /*justify-content: center;*/
        /*margin-left: 0 !important;*/
    /*}*/

    .switcher{
        display: flex;
        justify-content: center;
    }

    .switcher .col-6 .switch_type2{
        margin-left: 0 !important;
    }

    .switcher .col-6{
        display: flex;
        justify-content: center;
    }

    .teamLinkDiv{
        display: flex;
        justify-content: center;
    }

    .teamName,.connectionsAmount{
        text-align: center;
    }

    .teamName{
        width: 50% !important;
    }

    .openConnectionsModal{
       margin: 0 !important;
    }

    .teamLinkDiv .col-6 .zmdi-accounts-alt{
        margin-left: 0 !important;
    }

    .zmdi-accounts-alt{
        margin-left: 0 !important;
    }

    .navbarBox{
        display: flex !important;
        justify-content: center !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .connectionsAmountText{
        margin-left: 0 !important;
    }

    .openConnectionsModal{
        margin-left: 0 !important;
    }

    /*.textPlaceholder{*/
        /*font-size: 11px !important;*/
        /*top: 5%;*/
        /*left: 36% !important*/
    /*}*/

    .inviteDiv{
        flex-direction: column !important;
        margin-bottom: 10px;
    }
}

.navbarBox{
    margin-top: 5px;
}

@media screen and (max-width: 995px) {
    .navbar-user-desktop span{
        font-size: 12px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
@media screen and (max-width: 770px) {
    .navbar-user-mobile span{
        font-size: 12px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .navbar-user-desktop{
        display: none;
    }

    .navbar-user-mobile{
        display: block !important;
    }
}