@media screen and (max-width: 575px) {
    .absolutePF{
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40% !important
    }
    .banner{
        min-height: 150px !important;
        max-height: 150px !important;
    }

    .userName p {
        margin-left: 0 !important;
        text-align: center !important;
    }

    .switchDiv{
        display: flex;
        justify-content: center;
    }

    .switchDiv .col-6 .switch_type2{
        margin-left: 0 !important;
    }

    .switchDiv .col-6{
        display: flex;
        justify-content: center;
    }

    .teamLinkDiv{
        display: flex;
        justify-content: center;
    }

    .teamName,.connectionsAmount{
        text-align: center;
    }

    .teamName{
        width: 50% !important;
    }

    .openConnectionsModal{
       margin: 0 !important;
    }

    .teamLinkDiv .col-6 .zmdi-accounts-alt{
        margin-left: 0 !important;
    }

    .zmdi-accounts-alt{
        margin-left: 0 !important;
    }

    .navbarBox{
        display: flex !important;
        justify-content: center !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
}

.navbarBox{
    margin-top: 5px;
}

@media screen and (max-width: 995px) {
    .navbar-user-desktop span{
        font-size: 12px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
@media screen and (max-width: 770px) {
    .navbar-user-mobile span{
        font-size: 12px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .navbar-user-desktop{
        display: none;
    }

    .navbar-user-mobile{
        display: block !important;
    }
}