@media screen and (max-width: 770px) {
    .absolutePF{
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40% !important
    }
    .banner{
        min-height: 150px !important;
        max-height: 150px !important;
    }

    .userName p {
        margin-left: 0 !important;
        text-align: center !important;
    }

    .favoriteIcons{
       text-align: center;
        margin-left: 0 !important;
    }

    .switchDiv{
        display: flex;
        justify-content: center;
    }

    .switchDiv .col-6 .switch_type2{
        margin-left: 0 !important;
    }

    .switchDiv .col-6{
        display: flex;
        justify-content: center;
    }

    .teamLinkDiv{
        display: flex;
        justify-content: center;
    }

    .teamLinkDiv .col-6{
        text-align: center;
        margin-right: 15px !important;
    }

    .teamLinkDiv .col-6 .zmdi-accounts-alt{
        margin-left: 0 !important;
    }

    .collapseExpertiseResponsive{
        display: block !important;
    }

    .collapseExpertise{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .userName p {
        margin-left: 3% !important;
    }
}

@media screen and (max-width: 771px) {
    .navbarBox{
        display: flex;
        justify-content: center;
    }
}