@media screen and (max-width: 900px) {
    .col-sm-4{
        position: relative !important;
        width: 100% !important;
        min-height: 1px !important;
        padding-right: 15px !important;
        padding-left: 15px !important;

        flex: none !important;
        max-width: none !important;
    }

}