$themes: (
        light: (
                backgroundColor: #fff !important,
                textColor: #575757 !important,
                linkColor: #575757 !important,
                linkColorHover: #000 !important,
                ctaTextColor: #000000 !important,
                buttonTextHoverColor: #000000 !important,
                buttonBorderColorHover: 1px solid #000000 !important,
                buttonBackground: #fff !important,
                buttonBackgroundHover: #fff !important,
                buttonBorder: 1px solid #B4B4B4,
                ctaButtonBorder: 1px solid #FF6100 !important,
                ctaButtonBackground: #fff !important,
                inputTextBackground: #F8F8F8 !important,
                inputTextBorder: 1px solid #707070 !important,
                inputTextBorderRadius: 3px !important,
                hrWhite: 1px solid #fff !important,
                hrOrange: 1px solid #FF6100 !important,
                fontFamily: Corbert,
        ),
        dark: (
                backgroundColor: #000 !important,
                textColor: #C9CCCF !important,
                linkColor: #C9CCCF !important,
                linkColorHover: #C9CCCF !important,
                ctaTextColor: #fff !important,
                buttonTextHoverColor: #000000 !important,
                buttonBorderColorHover: 2px solid #FF6100 !important,
                buttonBackground: #000 !important,
                buttonBackgroundHover: #C9CCCF !important,
                buttonBorder: 2px solid #FF6100,
                ctaButtonBorder: 2px solid #FF6100 !important,
                ctaButtonBackground: #269A35 !important,
                inputTextBackground: #BDC1C5 !important,
                inputTextBorder: 0 !important,
                inputTextBorderRadius: 3px !important,
                hrWhite: 1px solid #fff !important,
                hrOrange: 1px solid #FF6100 !important,
        ),
);