.m-t-10{
    margin-top: 10px !important;
}

.m-0{
    margin: 0 !important;
}

.m-b-5{
    margin-bottom: 5px !important;
}
.m-b-0{
    margin-bottom: 0 !important;
}

.m-r-20{
    margin-right: 20px !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.p-t-20{
    padding-top: 20px !important;
}

.p-t-40{
    padding-top: 40px !important;
}
.p-b-40{
    padding-bottom: 40px !important;
}

.p-b-20{
    padding-bottom: 20px !important;
}


.vh85{
    height: 85vh !important;
}

.vh100{
    height: 100vh !important;
}

.c-blue{
    color: #00C5DE !important;
}

.c-gray{
    color: #C9CCCF !important;
}

.td-none:hover{
    text-decoration: none !important
}

.td-none{
    text-decoration: none !important
}

.d-flex{
    display: flex;
}

.fd-column{
    flex-direction: column !important;
}

.js-center{
    justify-content: center !important;
}

