.m-t-10{
    margin-top: 10px !important;
}

.m-l-0{
    margin-left: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.m-b-5{
    margin-bottom: 5px !important;
}
.m-b-0{
    margin-bottom: 0 !important;
}

.m-b-10{
    margin-bottom: 10px !important;
}

.m-b-15{
    margin-bottom: 15px !important;
}

.m-b-20{
    margin-bottom: 20px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
.m-r-20{
    margin-right: 20px !important;
}

.m-t-15{
    margin-top: 15px !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.m-t-30{
    margin-top: 30px !important;
}

.p-t-20{
    padding-top: 20px !important;
}

.p-t-40{
    padding-top: 40px !important;
}
.p-b-40{
    padding-bottom: 40px !important;
}

.p-b-20{
    padding-bottom: 20px !important;
}

.p-b-10{
    padding-bottom: 10px !important;
}

.p-b-5{
    padding-bottom: 5px !important;
}

.p-t-5{
    padding-top: 5px !important;
}
.p-r-0{
    padding-right: 0 !important;
}
/*==================================COLORS=============================*/
.c-blue{
    color: #00C5DE !important;
}

.c-gray{
    color: #C9CCCF !important;
}

.c-orange{
    color: #FF6100 !important;
}
.c-red{
    color: #FF0000 !important
}
/*=================================PLACEMENT+STYLE===========================*/
.vh85{
    height: 85vh !important;
}

.vh80{
    height: 80vh !important;
}

.vh100{
    height: 100vh !important;
}
.h-100{
    height: 100% !important;
}
.td-none:hover{
    text-decoration: none !important
}

.td-none{
    text-decoration: none !important
}

.d-flex{
    display: flex;
}

.fd-column{
    flex-direction: column !important;
}

.js-center{
    justify-content: center !important;
}

.js-between{
    justify-content: space-between !important
}

.js-around{
    justify-content: space-around !important
}


hr{
 border-top: 1px solid #FF6100 !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.c-pointer{
    cursor: pointer;
}
/*=============================FONTS======================*/
.f-12{
    font-size: 12px !important;
}

.f-13{
    font-size: 13px !important;
}

.f-14{
    font-size: 14px !important;
}

.f-15{
    font-size: 15px !important;
}

.f-16{
    font-size: 16px !important;
}

.f-17{
    font-size: 17px !important;
}

.f-18{
    font-size: 18px !important;
}

.f-19{
    font-size: 19px !important;
}

.f-20{
    font-size: 20px !important;
}

.f-21{
    font-size: 21px !important;
}

.f-22{
    font-size: 22px !important;
}

.f-z-rem{
    font-size: 2.5rem;
}
