.popover-userAccSidebar {
    background-color: #000 !important;
    border-color: #FF6100 !important;
    color: #C9CCCF !important;
}

.popover-userAccSidebar .popover-body p{
    color: #C9CCCF !important;
}

.popover-userAccSidebar.bs-popover-right .arrow:after {
    border-right-color: #FF6100 !important;
}