@font-face {
    font-family: Corbert;
    src: url(../fonts/Corbert-Regular.otf);
}

header{
    font-family: Corbert;
    background: #000000;
    min-height: 100px;
}

footer{
    font-family: Corbert;
    background: #000000;
    min-height: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
}

.footer{
    justify-content: space-between;
    margin: 0 30px 0 30px;
}

.lower-header{
    background: #C9CCCF;
    -webkit-box-shadow: 0px 7px 24px 1px rgba(201,204,207,1);
    -moz-box-shadow: 0px 7px 24px 1px rgba(201,204,207,1);
    box-shadow: 0px 7px 24px 1px rgba(201,204,207,1);
}

.container{
    width: 1200px !important;
    font-family: Corbert;
    margin: 0 auto;
    padding: 0;
}

.hidden{
    display: none !important;
}

.hr{
    border-top: 1px solid #FF6100;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}
.hr-card{
    border-top: 1px solid #FF6100;
    margin: 0 auto;
    text-align: center;
    width: 680px;
}

.sub-title{
    font-weight: lighter;
    font-size: 40px;
    color: #C9CCCF;
}

.sub-title-black{
    font-weight: lighter;
    font-size: 40px;
    color: #000000;
}

.sub-title-container{
    display: flex;
    justify-content: center;
}

.regular-link{
    text-decoration: none;
    cursor: pointer;
    color: #FF6100;
    padding: 0;
}

.regular-link:hover{
    text-decoration: underline;
    color: #FF6100;
}

.grey-background{
    background: #C9CCCF !important;
}

.cartwheelLogo{
    width:45px;
    height:45px;
}

.btn-inno{
    background: #000000;
    border: 2px solid #FF6100 !important;
    color: #C9CCCF;
}

.btn-inno:hover{
    color: #000000 !important;
    background: #C9CCCF !important;
    cursor: pointer;

}

.input{
    border: 1px solid #000000 !important;
    border-radius: 10px !important;
    background: #C9CCCF !important;
}

.tokenfield{
    border: 1px solid #000000 !important;
    border-radius: 10px !important;
    background: #C9CCCF !important;
}

.sidebar{
    min-width: 20vh;
    max-width: 20px;
    background: #000000;
}
/*=========================================CARD/PANEL===================================*/
.card{
    background: #000000 !important;
    color: #C9CCCF !important;
    width: 60vh !important;
    border: 1px solid #FF6100 !important;
}

.card-lg{
    background: #000000 !important;
    color: #C9CCCF !important;
    width: 87vh !important;
    border: 1px solid #FF6100 !important;
}
.card-chosen{
    background: #000000 !important;
    color: #C9CCCF !important;
    width: 375px !important;
    height: 375px !important;
    border: 2px solid #FF6100 !important;
}

.card-final{
    background: #000000 !important;
    color: #C9CCCF !important;
    width: 375px !important;
    height: 375px !important;
    border: 1px solid #C9CCCF !important;
}

.card-final:hover{
    background: #C9CCCF !important;
    border: 3px solid #FF6100 !important;
    color: #000000 !important;
}

.card-square{
    background: #000000 !important;
    color: #C9CCCF !important;
    width: 375px !important;
    height: 375px !important;
    border: 1px solid #C9CCCF !important;
}

.card-square:hover{
    background: #C9CCCF !important;
    border: 3px solid #FF6100 !important;
    color: #000000 !important;
}
/*=========================================MODAL STYLE===============================*/
.modal-header{
    background: #C9CCCF !important;
    border-bottom: 1px solid #FF6100 !important;
}

.modal-footer{
    background: #C9CCCF !important;
    border-top: 1px solid #FF6100 !important;
}

.modal-body{
    background: #C9CCCF !important;
}

.border-inno{
    border: 3px solid #FF6100 !important;
}

/*=======================================JQUERY UI===========================*/
.ui-menu{
    background: #000000;
    list-style-type: none;
    padding-left: 5px;
    width: 65vh;
    border: 2px solid #FF6100;
    border-radius: 10px;
    height: 200px;
    overflow: scroll;
    position: absolute !important;
    top: 485px !important;
}

.ui-menu-item-wrapper{
    list-style-type: none;
    color: #C9CCCF;
}
.ui-helper-hidden-accessible {
    display:none;
}

.token-input{
    margin-bottom: 0 !important;
}

.tokenfield{
    padding-bottom: 0 !important;
}
/*=======================================================HEADER===============================================*/
.main-title{
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 60px;
    color: #00C5DE;
}
.title-black{
    font-weight: bold;
    font-size: 60px;
}

.slogan{
    color: #C9CCCF;
}

.social-media-header{
    display: flex;
    flex-direction: row;
    color: #00C5DE;
    align-items: center;
    margin-right: 150px;
}

.social-icon{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
}
.circle{
    border: 2px solid #C9CCCF;
    border-radius: 100%;
    margin-right: 20px;
}

.circle-instructions{
    border: 2px solid #FF6100;
    border-radius: 100%;
    margin-right: 20px;
}

.circle-instructions-second{
    border: 2px solid #00C5DE;
    border-radius: 100%;
    margin-right: 20px;
}

.circle a{
    text-decoration: none;
    color: #00C5DE;
}

.accounts P{
    margin-bottom: 5px;
    color: #C9CCCF;
}

#teamLink{
    color: #FF6100;
}

.loginRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-navMenu li{
    text-transform: uppercase;
}
.main-navMenu li a:hover{
    text-decoration: underline;
}

.main-navMenu li a{
    text-decoration: none;
    padding: 0 10px 0 0;
    cursor: pointer;
    border-right: 1px solid #000000;
    color: #000000;
}

.main-navMenu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0;
    border-bottom: 1px solid #000000;
}

.main-navMenu li{
    padding: 0 10px 0 0;
}

#last-child{
    border: none;
}

#dreams{
    text-transform: uppercase;
    color: #FF6100;
    text-decoration: underline;
}
/*========================================FOOTER==========================================*/
.create-account{
    border: 2px solid #C9CCCF;
    border-radius: 15px;
}

.create-account:hover{
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.list-links{
    flex-direction: column;
    justify-content: center;
}

/*===========================================HOMEPAGE=============================================*/
.home-background-wrapper{
    background: url("/images/homepage.png");
}

.home-background-wrapper {
    /* Set rules to fill background */
    /*min-height: 40vh;*/
    /*min-width: 1000px;*/

    /* Set up proportionate scaling */
    width: 100%;
    height: 100vh;
    /*max-height: 85vh;*/
    /*min-height: 40vh;*/
    /*overflow: hidden;*/
    /*clear: both;*/

    /* Set up positioning */
    position: absolute;

}

.home-background-wrapper{
    background-size: cover;
    /*background-size:100% auto;*/
}

.main-content{
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    /*perspective: 800px;*/

}

.social-icon-home{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 5px;
}

.scrollHomeBtn:hover{
    cursor: pointer;
}
/*========================================INSTRUCTIONS===============================*/
.social-icon-instructions{
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 7px;
}

.instructions{
    background: #000000;
}

.instructions-text{
    font-size: 25px;
    color: #C9CCCF;
}

.instructions-flex{
    display: flex;
    align-items: center;
}

.instructions-flex-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.instructions-flex-center{
    display: flex;
    align-items: center;
    margin-left: 130px !important;
}

.instructions-list > .instructions-list-item{
    color: #FF6100;
}
/*====================================INSTRUCTIONS-SECOND=================================*/
.instructions-second{
    background: #C9CCCF;
}

.instructions-second-text{
    font-size: 25px;
    color: #000000;
}