@import "../themify";

.modal-content{
  @include themify($themes){
    background: themed('backgroundModal');
  }
}

.modal-backdrop.show{
  opacity: 0.8;
}

.modal-backdrop-light{
  opacity: 0.5;
}

.fade-scale {
  transform: scale(0) !important;
  -webkit-transition: all .25s linear !important ;
  -o-transition: all .25s linear !important ;
  transition: all .25s ease-out !important;
}
.modal-content-border{
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.modal-header-border{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.modal-body-border{
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.modal-body-border-full{
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.fixed-modal{
  min-width: 90vw !important;
  max-width: 500px !important;
}

.modal-header{
  @include themify($themes) {
    background: themed('backgroundModal');
  }
}

.modal-footer{
  @include themify($themes) {
    background: themed('backgroundModal');
  }
}

.modal-body{
  @include themify($themes) {
    background: themed('backgroundModal');
  }
}