@import "../themify";

.sidebar{
  background: #F5F5F5;
  height: 100vh;
  min-width: 210px;
}

.taskContent{
  width: 100vw;
}

.active-edit{
  color: #FF6100 !important;
}

.contextMenu{
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
}