.banner{
    margin-top: 10px !important;
    min-height: 250px !important;
    max-height: 250px !important;
    width: 100% !important;
    background-size:     cover !important;
    background-repeat:   no-repeat !important;
    background-position: center center !important;
}

.userProfilePic{
    top: 65%;
    left: 2%;
}

.text-test{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.textGradientBox {
    max-height: 50px !important;
    position: relative;
    overflow: hidden;
}
.textGradientBox .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0; padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, black);
}

.words{
    word-break: normal;
}